{% extends 'base.html.twig' %}

{% block body %}

    <section class="wrapper image-wrapper bg-image bg-overlay bg-overlay-300" data-image-src="/assets/img/photos/bg16.png">
        <div class="container pt-17 text-center">
            <div class="row">
                <div class="col-lg-8 col-xl-7 col-xxl-6 mx-auto" data-cues="slideInDown" data-group="page-title">
                    <h1 class="display-1 text-white fs-55 mb-4 px-md-15 px-lg-0">À propos</h1>
                </div>
            </div>
        </div>

        <div class="overflow-hidden">
            <div class="divider text-light mx-n2">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 60">
                    <path fill="currentColor" d="M0,0V60H1440V0A5771,5771,0,0,1,0,0Z" />
                </svg>
            </div>
        </div>
    </section>

    <section class="wrapper bg-light  upper-end lower-end">
        <div class="container py-14 py-md-16">
            <div class="row gx-lg-8 gx-xl-12 gy-10 mb-14 mb-md-17 align-items-center">
                <div class="col-lg-6 position-relative order-lg-2">
                    <div class="shape bg-dot primary rellax w-16 h-20" data-rellax-speed="1" style="top: 3rem; left: 5.5rem"></div>
                    <div class="overlap-grid overlap-grid-2">
                        <div class="item">
                            <figure class="rounded shadow"><img src="./assets/img/photos/about2.jpg" srcset="./assets/img/photos/about2@2x.jpg 2x" alt=""></figure>
                        </div>
                        <div class="item">
                            <figure class="rounded shadow"><img src="./assets/img/photos/about3.jpg" srcset="./assets/img/photos/about3@2x.jpg 2x" alt=""></figure>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <img src="./assets/img/icons/lineal/megaphone.svg" class="svg-inject icon-svg icon-svg-md mb-4" alt="" />
                    <h2 class="display-4 mb-3">Qui sommes-nous ?</h2>
                    <p class="lead fs-lg">ILOUWW est une agence de communication spécialisée dans le design web et graphique. Nous accompagnons et conseillons les entreprises et institutions dans les différentes étapes de leur communication. Notre agence propose un service personnalisé afin de répondre efficacement aux attentes et objectifs souhaités. Pour toute l’équipe, il n’y a pas de contraintes mais que des défis à relever pour mettre en lumière votre identité.</p>
                    <p class="mb-6">Agence présente sur Aix-en-Provence, Marseille, Cannes, Antibes et Nice.</p>
                </div>
            </div>

            <div class="row mb-5">
                <div class="col-md-10 col-xl-8 col-xxl-7 mx-auto text-center">
                    <img src="./assets/img/icons/lineal/list.svg" class="svg-inject icon-svg icon-svg-md mb-4" alt="" />
                    <h2 class="display-4 mb-4 px-lg-14">Dans notre agence, vous êtes au cœur du projet et votre objectif est le nôtre. Notre métier, sublimer vos idées et rendre vos projets concrets.
                    </h2>
                </div>
            </div>

            <div class="row gx-lg-8 gx-xl-12 gy-10 align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="card me-lg-6">
                        <div class="card-body p-6">
                            <div class="d-flex flex-row">
                                <div>
                                    <span class="icon btn btn-circle btn-lg btn-soft-primary pe-none me-4"><span class="number">01</span></span>
                                </div>
                                <div>
                                    <h4 class="mb-1">💪 Des experts du digital</h4>
                                    <p class="mb-0">Notre agence est composée de talentueux collaborateurs issus de la communication marketing et des nouvelles technologies. </p>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="card ms-lg-13 mt-6">
                        <div class="card-body p-6">
                            <div class="d-flex flex-row">
                                <div>
                                    <span class="icon btn btn-circle btn-lg btn-soft-primary pe-none me-4"><span class="number">02</span></span>
                                </div>
                                <div>
                                    <h4 class="mb-1">🙋 Une agence proche de vous</h4>
                                    <p class="mb-0">Même si notre agence est 100 % digitale, notre équipe est présente et disponible pour répondre à vos projets. Bénéficiez d'un service réactif et efficace en moins de 24h. </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card mx-lg-6 mt-6">
                        <div class="card-body p-6">
                            <div class="d-flex flex-row">
                                <div>
                                    <span class="icon btn btn-circle btn-lg btn-soft-primary pe-none me-4"><span class="number">03</span></span>
                                </div>
                                <div>
                                    <h4 class="mb-1">🎯 Un service sur mesure</h4>
                                    <p class="mb-0">Vous souhaitez gagner en visibilité, lancer votre activité, générer du trafic sur votre site Internet, atteindre des objectifs précis ? Notre agence vous garantit un accompagnement personnalisé à chaque étape de votre communication. Notre équipe adaptera l'outil et la stratégie la plus efficace pour répondre à vos attentes et réaliser votre projet.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <h2 class="display-6 mb-3">Nos valeurs & notre méthode</h2>
                    <p class="lead fs-lg pe-lg-5">Grâce à notre équipe experte dans le domaine de la communication web et print, devenez visible et impactant avec une identité unique. Notre polyvalence nous permet de gérer un projet dans sa globalité et ainsi répondre aux attentes dans les meilleurs délais en garantissant un travail de qualité.</p>
                    <p class="lead fs-lg pe-lg-5">Chaque projet est unique et fait l'objet d'un suivi régulier. Avec nous, aucun frais caché, les montants des devis égalent celui de nos factures. Nos échanges se font en toute transparence.</p>
                    <p class="lead fs-lg pe-lg-5">Chaque projet est unique et fait l'objet d'un suivi régulier. Avec nous, aucun frais caché, les montants des devis égalent celui de nos factures. Nos échanges se font en toute transparence.</p>
                    <a href="/contact" class="btn btn-primary rounded-pill mb-0">Nous contacter</a>
                </div>
            </div>
        </div>
    </section>

    <section class="wrapper bg-light">
        <div class="container py-14 py-md-16">
            <div class="row mb-3">
                <div class="col-md-10 col-xl-9 col-xxl-7 mx-auto text-center">
                    <img src="./assets/img/icons/lineal/team.svg" class="svg-inject icon-svg icon-svg-md mb-4" alt="" />
                    <h2 class="display-4 mb-3 px-lg-14">Notre équipe de professionnels</h2>
                </div>

            </div>

            <div class="position-relative">
                <div class="shape rounded-circle bg-soft-yellow rellax w-16 h-16" data-rellax-speed="1" style="bottom: 0.5rem; right: -1.7rem;"></div>
                <div class="shape rounded-circle bg-line red rellax w-16 h-16" data-rellax-speed="1" style="top: 0.5rem; left: -1.7rem;"></div>
                <div class="swiper-container dots-closer mb-6" data-margin="0" data-dots="true" data-items-xxl="4" data-items-xl="3" data-items-lg="3" data-items-md="2" data-items-xs="1">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide w-50">
                                <div class="item-inner">
                                    <div class="card">
                                        <div class="card-body">
                                            <img class="rounded-circle w-15 mb-4" src="/img/Ilo_Andria-scaled.jpeg" srcset="/img/Ilo_Andria-scaled.jpeg" alt="" style="height: 100px; object-fit: cover;" />
                                            <h4 class="mb-1">Ilo Andria-Ntoanina</h4>
                                            <div class="meta mb-2">Co-Fondateur et directeur artistique</div>
                                            <p class="mb-2">Ilo est un graphiste freelance de talent, qui porte un soin tout particulier au détail et à l'esthétique de ses productions. </p>
                                            <nav class="nav social mb-0">
                                                <a href="https://www.linkedin.com/in/ilo-andria-ntoanina-a32462137/"><i class="uil uil-linkedin"></i></a>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide w-50">
                                <div class="item-inner">
                                    <div class="card">
                                        <div class="card-body">
                                            <img class="rounded-circle w-15 mb-4" src="/img/marc-lassort.jpeg" srcset="/img/marc-lassort.jpeg" alt="" style="height: 100px; object-fit: cover;" />
                                            <h4 class="mb-1">Marc Lassort</h4>
                                            <div class="meta mb-2">Co-Fondateur et directeur web</div>
                                            <p class="mb-2">Marc est un développeur web fullstack en charge de la direction du pôle web chez Ilouww.</p>
                                            <nav class="nav social mb-0">
                                                <a href="https://www.linkedin.com/in/marc-lassort/"><i class="uil uil-linkedin"></i></a>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="wrapper bg-light angled upper-end lower-end">
        <div class="container pt-18 pb-14 pt-md-19 pb-md-16">
            <div class="row gx-md-8 gx-xl-12 gy-10 align-items-center">
                <div class="col-md-8 col-lg-6 offset-lg-0 col-xl-5 offset-xl-1 position-relative">
                    <div class="shape bg-dot primary rellax w-17 h-21" data-rellax-speed="1" style="top: -2rem; left: -1.4rem;"></div>
                    <figure class="rounded"><img src="/img/Ilo_Andria-scaled.jpeg" srcset="/img/Ilo_Andria-scaled.jpeg" alt=""></figure>
                </div>

                <div class="col-lg-6">
                    <img src="./assets/img/icons/lineal/telemarketer.svg" class="svg-inject icon-svg icon-svg-md mb-4" alt="" />
                    <h2 class="display-4 mb-8">Un projet ? Réalisons-le ensemble !</h2>
                    <div class="d-flex flex-row">
                        <div>
                            <div class="icon text-primary fs-28 me-6 mt-n1"> <i class="uil uil-location-pin-alt"></i> </div>
                        </div>
                        <div>
                            <h5 class="mb-1">Adresse</h5>
                            <address>21 Av. Dr Dautheville, <br class="d-none d-md-block" />06160 Antibes, France</address>
                        </div>
                    </div>
                    <div class="d-flex flex-row">
                        <div>
                            <div class="icon text-primary fs-28 me-6 mt-n1"> <i class="uil uil-phone-volume"></i> </div>
                        </div>
                        <div>
                            <h5 class="mb-1">Téléphone</h5>
                            <p>+33 6 69 72 17 25</p>
                        </div>
                    </div>
                    <div class="d-flex flex-row">
                        <div>
                            <div class="icon text-primary fs-28 me-6 mt-n1"> <i class="uil uil-envelope"></i> </div>
                        </div>
                        <div>
                            <h5 class="mb-1">Adresse électronique</h5>
                            <p class="mb-0"><a href="mailto:ilouw.design@gmail.com" class="link-body">ilouw.design@gmail.com</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}