{% extends 'base.html.twig' %}

{% block body %}

        <section class="wrapper image-wrapper bg-image bg-overlay bg-overlay-300" data-image-src="/assets/img/photos/bg16.png">
            <div class="container pt-17 pb-19 pt-md-18 pb-md-17 text-center">
                <div class="row">
                    <div class="col-lg-8 col-xl-7 col-xxl-6 mx-auto" data-cues="slideInDown" data-group="page-title">
                        <h1 class="display-1 text-white fs-55 mb-4 px-md-15 px-lg-0">Avec Ilouww, j'optimise mon image de marque avec un design <span class="underline-3 style-2 yellow">unique</span></h1>
                        <p class="lead fs-24 text-white lh-sm mb-7 mx-md-13 mx-lg-10">ILOUWW est une agence de communication dédiée au design graphique et digital. Passionnés par la création de marques fortes et de campagnes impactantes, nous travaillons avec nos clients pour définir leur image de marque et la faire briller. Il n’y a pas de contraintes mais que des défis à relever pour mettre en lumière votre identité.  </p>
                        <div>
                            <a href="/contact" class="btn btn-white rounded mb-10 mb-xxl-5">Réserver un appel</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="overflow-hidden">
                <div class="divider text-light mx-n2">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 60">
                        <path fill="currentColor" d="M0,0V60H1440V0A5771,5771,0,0,1,0,0Z" />
                    </svg>
                </div>
            </div>
        </section>

        <section class="wrapper bg-light">
            <div class="container pb-15 pb-md-17">
                <div class="row gx-md-5 gy-5 mt-n19 mb-14 mb-md-17">
                    <div class="col-md-6 col-xl-3">
                        <div class="card shadow-lg">
                            <div class="card-body">
                                <img src="/assets/img/icons/solid/edit.svg" class="svg-inject icon-svg icon-svg-sm solid-mono text-fuchsia mb-3" alt="" />
                                <h4>Web</h4>
                                <p class="mb-2">Boostez votre présence en ligne avec notre prestation d’audit de site internet : sites vitrines, e-commerce et plus encore.</p>
                                <a href="/services/web" class="more hover link-fuchsia">En savoir plus</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-xl-3">
                        <div class="card shadow-lg">
                            <div class="card-body">
                                <img src="/assets/img/icons/solid/team.svg" class="svg-inject icon-svg icon-svg-sm solid-mono text-violet mb-3" alt="" />
                                <h4>Infographie</h4>
                                <p class="mb-2">Notre prestation d’infographie vous permettra de créer des supports de communication adaptés à vos besoins.</p>
                                <a href="/services/infographie" class="more hover link-violet">En savoir plus</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-xl-3">
                        <div class="card shadow-lg">
                            <div class="card-body">
                                <img src="/assets/img/icons/solid/lamp.svg" class="svg-inject icon-svg icon-svg-sm solid-mono text-orange mb-3" alt="" />
                                <h4>Branding</h4>
                                <p class="mb-2">Transformez votre image de marque avec notre prestation de branding : charte graphique, logos et plus encore.</p>
                                <a href="/services/branding" class="more hover link-orange">En savoir plus</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-xl-3">
                        <div class="card shadow-lg">
                            <div class="card-body">
                                <img src="/assets/img/icons/solid/delivery-box.svg" class="svg-inject icon-svg icon-svg-sm solid-mono text-green mb-3" alt="" />
                                <h4>UI/UX</h4>
                                <p class="mb-2">Ajoutez une touche professionnelle à votre site web ou application avec notre prestation de service en design UI/UX.</p>
                                <a href="/services/ui-ux" class="more hover link-green">En savoir plus</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2 mx-auto text-center">
                        <h2 class="fs-16 text-uppercase text-muted mb-3">Pourquoi choisir ILOUWW ?</h2>
                        <h3 class="display-3 mb-10 px-xl-10 px-xxl-15">Voilà quelques <span class="underline-3 style-2 yellow">raisons</span> pour lesquels on choisit ILOUWW.</h3>
                    </div>
                </div>

                <ul class="nav nav-tabs nav-tabs-bg nav-tabs-shadow-lg d-flex justify-content-between nav-justified flex-lg-row flex-column">
                    <li class="nav-item"> <a class="nav-link d-flex flex-row active" data-bs-toggle="tab" href="#tab2-1">
                            <div><img src="/assets/img/icons/solid/bulb.svg" class="svg-inject icon-svg icon-svg-sm solid-mono text-fuchsia me-4" alt="" /></div>
                            <div>
                                <h4>Prix clairs </h4>
                                <p>Nos prix sont clairement énoncés dans nos devis et nous nous y tenons.</p>
                            </div>
                        </a> </li>
                    <li class="nav-item"> <a class="nav-link d-flex flex-row" data-bs-toggle="tab" href="#tab2-2">
                            <div><img src="/assets/img/icons/solid/compare.svg" class="svg-inject icon-svg icon-svg-sm solid-mono text-violet me-4" alt="" /></div>
                            <div>
                                <h4>Efficacité </h4>
                                <p>Nous travaillons rapidement, dans des délais contraints, et nous nous adaptons.</p>
                            </div>
                        </a> </li>
                    <li class="nav-item"> <a class="nav-link d-flex flex-row" data-bs-toggle="tab" href="#tab2-3">
                            <div><img src="/assets/img/icons/solid/delivery-box.svg" class="svg-inject icon-svg icon-svg-sm solid-mono text-green me-4" alt="" /></div>
                            <div>
                                <h4>Qualité </h4>
                                <p>Nous privilégions la qualité sur la quantité, nous sommes attachés à la qualité de nos prestations.</p>
                            </div>
                        </a> </li>
                </ul>

                <div class="tab-content mt-6 mt-lg-8">
                    <div class="tab-pane fade show active" id="tab2-1">
                        <div class="row gx-lg-8 gx-xl-12 gy-10 align-items-center">
                            <div class="col-lg-6">
                                <figure class="rounded shadow-lg"><img src="/assets/img/photos/se5.jpg" srcset="/assets/img/photos/se5@2x.jpg 2x" alt=""></figure>
                            </div>

                            <div class="col-lg-6">
                                <h2 class="mb-3">Nos valeurs</h2>
                                <p>Dans notre agence, vous êtes au cœur du projet et votre objectif est le nôtre. Notre métier, c'est sublimer vos idées et rendre vos projets concrets.</p>
                                <p>Notre agence est composée de talentueux collaborateurs issus de la communication marketing et des nouvelles technologies.Grâce à notre équipe experte dans le domaine de la communication web et print, devenez visible et impactant avec une identité unique.</p>
                                <ul class="icon-list bullet-bg bullet-soft-fuchsia">
                                    <li><i class="uil uil-check"></i>Des experts du digital</li>
                                    <li><i class="uil uil-check"></i>Une agence proche de vous</li>
                                    <li><i class="uil uil-check"></i>Un service sur mesure</li>
                                </ul>
                                <a href="/a-propos" class="btn btn-fuchsia mt-2">En savoir plus</a>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="tab2-2">
                        <div class="row gx-lg-8 gx-xl-12 gy-10 align-items-center">
                            <div class="col-lg-6 order-lg-2">
                                <figure class="rounded shadow-lg"><img src="/assets/img/photos/se6.jpg" srcset="/assets/img/photos/se6@2x.jpg 2x" alt=""></figure>
                            </div>

                            <div class="col-lg-6">
                                <h2 class="mb-3">Data Analysis</h2>
                                <p>Etiam porta sem malesuada magna mollis euismod. Donec ullamcorper nulla non metus auctor fringilla. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Nullam quis risus eget urna.</p>
                                <ul class="icon-list bullet-bg bullet-soft-violet">
                                    <li><i class="uil uil-check"></i>Aenean eu leo quam. Pellentesque ornare.</li>
                                    <li><i class="uil uil-check"></i>Nullam quis risus eget urna mollis ornare.</li>
                                    <li><i class="uil uil-check"></i>Donec id elit non mi porta gravida at eget.</li>
                                </ul>
                                <a href="#" class="btn btn-violet mt-2">Learn More</a>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="tab2-3">
                        <div class="row gx-lg-8 gx-xl-12 gy-10 align-items-center">
                            <div class="col-lg-6">
                                <figure class="rounded shadow-lg"><img src="/assets/img/photos/se7.jpg" srcset="/assets/img/photos/se7@2x.jpg 2x" alt=""></figure>
                            </div>

                            <div class="col-lg-6">
                                <h2 class="mb-3">Finalize Product</h2>
                                <p>Etiam porta sem malesuada magna mollis euismod. Donec ullamcorper nulla non metus auctor fringilla. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Nullam quis risus eget urna.</p>
                                <ul class="icon-list bullet-bg bullet-soft-green">
                                    <li><i class="uil uil-check"></i>Aenean eu leo quam. Pellentesque ornare.</li>
                                    <li><i class="uil uil-check"></i>Nullam quis risus eget urna mollis ornare.</li>
                                    <li><i class="uil uil-check"></i>Donec id elit non mi porta gravida at eget.</li>
                                </ul>
                                <a href="#" class="btn btn-green mt-2">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="wrapper bg-gray">
            <div class="container py-15 py-md-17 pb-md-19">
                <div class="row align-items-center gy-8 mb-13">
                    <div class="col-lg-7 text-center text-lg-start">
                        <h2 class="fs-16 text-uppercase text-muted mb-3">Nos retours d'expérience clientèle</h2>
                        <h3 class="display-3 mb-0 pe-xl-10 pe-xxl-15">Des projets réussis grâce à notre expertise en communication. Découvrez les témoignages de nos clients
                            <span class="underline-3 style-2 yellow">satisfaits</span> 🤝</h3>
                    </div>
                    <div class="col-lg-5">
                        <div class="row gy-6 text-center">
                            <div class="col-md-6">
                                <div class="progressbar semi-circle fuchsia" data-value="100"></div>
                                <h4 class="mb-0">Satisfaction client Google</h4>
                            </div>
                            <div class="col-md-6">
                                <div class="progressbar semi-circle orange" data-value="80"></div>
                                <h4 class="mb-0">Accroissement de l'activité</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="wrapper bg-light">
            <div class="container py-16 py-md-18">
                <div class="card shadow-lg mt-n21 mt-md-n23">
                    <div class="row gx-0">
                        <div class="col-lg-6 image-wrapper bg-image bg-cover rounded-top rounded-lg-start" data-image-src="/assets/img/photos/tm2.jpg">
                        </div>
                        <div class="col-lg-6">
                            <div class="p-10 p-md-11 px-lg-13 py-lg-14">
                                <div class="swiper-container dots-closer mb-6" data-margin="30" data-dots="true">
                                    <div class="swiper">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide text-center">
                                                <span class="ratings five mt-4 mb-3"></span>
                                                <blockquote class="border-0 fs-lg text-center">
                                                    <p>“Un grand merci à Ilo Andria pour les services effectués au sein de notre agence immobilière. Un travail très sérieux, professionnel, créatif et organisé.</p>
                                                    <p>Nous recommandons, en toute confiance !”</p>
                                                    <div class="blockquote-details justify-content-center text-center">
                                                        <div class="info ps-0">
                                                            <h5 class="mb-1">Agence Aixty</h5>
                                                            <p class="mb-0">Agence immobilière</p>
                                                        </div>
                                                    </div>
                                                </blockquote>
                                            </div>

                                            <div class="swiper-slide text-center">
                                                <span class="ratings five mt-4 mb-3"></span>
                                                <blockquote class="border-0 fs-lg text-center">
                                                    <p>“Un grand merci à Ilouww pour la réalisation du logo de ma chaîne youtube. Force de proposition et créatif, Ilouww a très rapidement pu me proposer un logo à mon image. Je suis très satisfait et vous le recommande sans hésitation !”</p>
                                                    <div class="blockquote-details justify-content-center text-center">
                                                        <div class="info ps-0">
                                                            <h5 class="mb-1">Les Cordeliers</h5>
                                                            <p class="mb-0">Créateur de contenu</p>
                                                        </div>
                                                    </div>
                                                </blockquote>
                                            </div>

                                            <div class="swiper-slide text-center">
                                                <span class="ratings five mt-4 mb-3"></span>
                                                <blockquote class="border-0 fs-lg text-center">
                                                    <p>“Merci pour votre aide à la réalisation et la conception de la charte graphique de mon cabinet de gestion de patrimoine. Votre accompagnement minitieux m’a aidé à me lancer ! Je recommande vivement !”</p>
                                                    <div class="blockquote-details justify-content-center text-center">
                                                        <div class="info ps-0">
                                                            <h5 class="mb-1">Quentin Hagnere</h5>
                                                            <p class="mb-0">Cabinet en gestion de patrimoine</p>
                                                        </div>
                                                    </div>
                                                </blockquote>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-17">
                    <div class="col-lg-10 col-xl-9 col-xxl-8 mx-auto text-center">
                        <h2 class="fs-16 text-uppercase text-muted mb-3">Nos derniers projets</h2>
                        <h3 class="display-3 mb-10">Nous vous présentons les dernières <span class="underline-3 style-2 yellow">réalisations</span> que nous avons menées à bien.</h3>
                    </div>
                </div>

                <div class="swiper-container grid-view" data-margin="30" data-dots="true" data-items-xl="3" data-items-md="2" data-items-xs="1">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <figure class="rounded mb-6"><img src="/img/Aixty_Affiche.jpg" srcset="/img/Aixty_Affiche.jpg" alt="" /><a class="item-link" href="/assets/img/photos/pd8-full.jpg" data-glightbox data-gallery="projects-group"><i class="uil uil-focus-add"></i></a></figure>
                                <div class="project-details d-flex justify-content-center flex-column">
                                    <div class="post-header">
                                        <h2 class="post-title h3"><a href="#" class="link-dark">Agence Aixty</a></h2>
                                        <div class="post-category text-ash">Enseigne / Branding</div>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <figure class="rounded mb-6"><img src="/img/les-cordeliers/lescordeliers.jpg" srcset="/img/les-cordeliers/lescordeliers.jpg" alt="" style="height: 270px !important; "/><a class="item-link" href="/img/les-cordeliers/lescordeliers.jpg" data-glightbox data-gallery="projects-group"><i class="uil uil-focus-add"></i></a></figure>
                                <div class="project-details d-flex justify-content-center flex-column">
                                    <div class="post-header">
                                        <h2 class="post-title h3"><a href="https://les-cordeliers.org" class="link-dark">Les Cordeliers</a></h2>
                                        <div class="post-category text-ash">Site web / Branding</div>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <figure class="rounded mb-6"><img src="/img/la-bailarina/ILOUWW_Logo_LaBailarina.jpg" srcset="/img/la-bailarina/ILOUWW_Logo_LaBailarina.jpg" alt="" /><a class="item-link" href="/img/la-bailarina/ILOUWW_Logo_LaBailarina.jpg" data-glightbox data-gallery="projects-group"><i class="uil uil-focus-add"></i></a></figure>
                                <div class="project-details d-flex justify-content-center flex-column">
                                    <div class="post-header">
                                        <h2 class="post-title h3"><a href="https://la-bailarina.com/" class="link-dark">La Bailarina</a></h2>
                                        <div class="post-category text-ash">Rebranding</div>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <figure class="rounded mb-6"><img src="/img/bastiat/nouveau-logo-Bastiat.jpg" srcset="/img/bastiat/nouveau-logo-Bastiat.jpg" alt="" /><a class="item-link" href="/img/bastiat/nouveau-logo-Bastiat.jpg" data-glightbox data-gallery="projects-group"><i class="uil uil-focus-add"></i></a></figure>
                                <div class="project-details d-flex justify-content-center flex-column">
                                    <div class="post-header">
                                        <h2 class="post-title h3"><a href="https://bastiat.net" class="link-dark">Cercle Frédéric Bastiat</a></h2>
                                        <div class="post-category text-ash">Site web / Branding</div>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <figure class="rounded mb-6"><img src="/img/Box_sironimo_rebranding.jpg" srcset="/img/Box_sironimo_rebranding.jpg" alt="" style="height: 270px !important; "/><a class="item-link" href="/assets/img/photos/pd9-full.jpg" data-glightbox data-gallery="projects-group"><i class="uil uil-focus-add"></i></a></figure>
                                <div class="project-details d-flex justify-content-center flex-column">
                                    <div class="post-header">
                                        <h2 class="post-title h3"><a href="#" class="link-dark">Box Sironimo</a></h2>
                                        <div class="post-category text-ash">Rebranding</div>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <figure class="rounded mb-6"><img src="/img/atelier/mockup-boitier-luxe.jpg" srcset="/img/atelier/mockup-boitier-luxe.jpg" alt="" /><a class="item-link" href="/img/atelier/mockup-boitier-luxe.jpg" data-glightbox data-gallery="projects-group"><i class="uil uil-focus-add"></i></a></figure>
                                <div class="project-details d-flex justify-content-center flex-column">
                                    <div class="post-header">
                                        <h2 class="post-title h3"><a href="#" class="link-dark">L'Atelier Joaillerie</a></h2>
                                        <div class="post-category text-ash">Enseigne / Branding</div>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <figure class="rounded mb-6"><img src="/img/tomy-boba-tea/menu.png" srcset="/img/tomy-boba-tea/menu.png" alt="" /><a class="item-link" href="/img/tomy-boba-tea/menu.png" data-glightbox data-gallery="projects-group"><i class="uil uil-focus-add"></i></a></figure>
                                <div class="project-details d-flex justify-content-center flex-column">
                                    <div class="post-header">
                                        <h2 class="post-title h3"><a href="#" class="link-dark">Tomy Boba Tea</a></h2>
                                        <div class="post-category text-ash">Rebranding</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row gy-10 gy-sm-13 gx-md-8 gx-xl-12 align-items-center mt-17">
                    <div class="col-lg-6">
                        <div class="row gx-md-5 gy-5">
                            <div class="col-12">
                                <figure class="rounded mx-md-5"><img src="/assets/img/photos/g8.jpg" srcset="/assets/img/photos/g8@2x.jpg 2x" alt=""></figure>
                            </div>

                            <div class="col-md-6">
                                <figure class="rounded"><img src="/assets/img/photos/g9.jpg" srcset="/assets/img/photos/g9@2x.jpg 2x" alt=""></figure>
                            </div>

                            <div class="col-md-6">
                                <figure class="rounded"><img src="/assets/img/photos/g10.jpg" srcset="/assets/img/photos/g10@2x.jpg 2x" alt=""></figure>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <h2 class="fs-16 text-uppercase text-muted mb-3">Nos différences ?</h2>
                        <h3 class="display-3 mb-8">Nous apportons des <span class="underline-3 style-2 yellow">solutions</span> pour faciliter la vie de nos clients.</h3>
                        <div class="row gy-6">
                            <div class="col-md-6">
                                <div class="d-flex flex-row">
                                    <div>
                                        <img src="/assets/img/icons/solid/lamp.svg" class="svg-inject icon-svg icon-svg-xs solid-mono text-fuchsia me-4" alt="" />
                                    </div>
                                    <div>
                                        <h4 class="mb-1">Créativité</h4>
                                        <p class="mb-0">Nous misons tout sur la créativité, l'esthétique et la beauté de nos produits.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="d-flex flex-row">
                                    <div>
                                        <img src="/assets/img/icons/solid/bulb.svg" class="svg-inject icon-svg icon-svg-xs solid-mono text-violet me-4" alt="" />
                                    </div>
                                    <div>
                                        <h4 class="mb-1">Prix attractifs</h4>
                                        <p class="mb-0">Nos prix sont en dessous du marché.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="d-flex flex-row">
                                    <div>
                                        <img src="/assets/img/icons/solid/puzzle.svg" class="svg-inject icon-svg icon-svg-xs solid-mono text-orange me-4" alt="" />
                                    </div>
                                    <div>
                                        <h4 class="mb-1">Rapidité</h4>
                                        <p class="mb-0">Nous livrons rapidement et nous nous adoptons à vos contraintes.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="d-flex flex-row">
                                    <div>
                                        <img src="/assets/img/icons/solid/headphone.svg" class="svg-inject icon-svg icon-svg-xs solid-mono text-green me-4" alt="" />
                                    </div>
                                    <div>
                                        <h4 class="mb-1">Support technique</h4>
                                        <p class="mb-0">Nous vous apportons une maintenance tout au long de la durée de vie de votre projet.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

{% endblock %}
