{% extends 'base.html.twig' %}

{% block body %}

    <section class="wrapper image-wrapper bg-image bg-overlay bg-overlay-300" data-image-src="/assets/img/photos/bg16.png">
        <div class="container pt-17 text-center">
            <div class="row">
                <div class="col-lg-8 col-xl-7 col-xxl-6 mx-auto" data-cues="slideInDown" data-group="page-title">
                    <h1 class="display-1 text-white fs-55 mb-4 px-md-15 px-lg-0">Mentions légales</h1>
                </div>
            </div>
        </div>

        <div class="overflow-hidden">
            <div class="divider text-light mx-n2">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 60">
                    <path fill="currentColor" d="M0,0V60H1440V0A5771,5771,0,0,1,0,0Z" />
                </svg>
            </div>
        </div>
    </section>

<div class="container mt-5">
    <div class="text-left">
        <p>Conformément aux dispositions des Articles 6-III et 19 de la Loi n°2004-575 du 21 juin 2004 pour la Confiance dans l’économie numérique, dite L.C.E.N., il est porté à la connaissance des utilisateurs et visiteurs, ci-après l"Utilisateur", du site www.ilouww.fr , ci-après le "Site", les présentes mentions légales.</p>
        <p>La connexion et la navigation sur le Site par l’Utilisateur implique l'acceptation intégrale et sans réserve des présentes mentions légales.</p>
        <p>Ces dernières sont accessibles sur le Site à la rubrique « Mentions légales ».</p>

        <h2>ARTICLE 1 - L'ÉDITEUR</h2>

        <p>L’édition et la direction de la publication du site ILOUWW est assurée par Ilo Andria-Ntoanina. L'agence web marketing exerce en statut micro-entreprise dont le numéro SIRET est 887 739 860 00021 et le siège se trouve au 21 Avenue Docteur Dautheville 06160 Antibes.</p>

        <p><strong>Contact :</strong></p>
        <p><strong>Tél.</strong> 06 09 63 18 38,</p>
        <p><strong>e-mail.</strong> ilouw.design@gmail.com</p>

        <h2>ARTICLE 2 - L'HÉBERGEUR</h2>

        <p>L'hébergeur du Site ILOUWW est assurée par la société la SARL o2switch dont le siège se trouve 222-224 Boulevard Gustave Flaubert</p>
        <p>63000 Clermont-Ferrand. </p>

        <p>Numéro SIRET 510 909 807 00024</p>
        <p>RCS Clermont Ferrand</p>
        <p>SARL au capital de 100 000€</p>
        <p>o2switch est une société du groupe Zohey SAS au capital de 8 000 000€ </p>

        <p><strong>Contact :</strong></p>
        <p><strong>Tél.</strong> 04 44 44 60 40</p>
        <p><strong>e-mail.</strong> support@o2switch.fr</p>

        <h2>ARTICLE 3 - ACCÈS AU SITE</h2>
        <p>Le Site est accessible en tout endroit, 7j/7, 24h/24 sauf cas de force majeure, interruption programmée ou non et pouvant découlant d’une nécessité de maintenance. En cas de modification, interruption ou suspension du Site, l'Éditeur ne saurait être tenu responsable.</p>

        <h2>ARTICLE 4 - COLLECTE DES DONNÉES</h2>
        <p>Le site est exempté de déclaration à la Commission Nationale Informatique et Libertés (CNIL) dans la mesure où il ne collecte aucune donnée concernant les utilisateurs. Toute utilisation, reproduction, diffusion, commercialisation, modification de toute ou partie du Site, sans autorisation de l’Éditeur est prohibée et pourra entraîner des actions et poursuites judiciaires telles que notamment prévues par le Code de la propriété intellectuelle et le Code civil. Pour plus d’informations, se reporter aux CGV du site www.ilouww.fr accessible à la rubrique "CGV"</p>
    </div>
</div>

{% endblock %}