{% extends 'base.html.twig' %}

{% block body %}

    <section class="wrapper image-wrapper bg-image bg-overlay bg-overlay-300" data-image-src="/assets/img/photos/bg16.png">
        <div class="container pt-17 text-center">
            <div class="row">
                <div class="col-lg-8 col-xl-7 col-xxl-6 mx-auto" data-cues="slideInDown" data-group="page-title">
                    <h1 class="display-1 text-white fs-55 mb-4 px-md-15 px-lg-0">Politique de confidentialité</h1>
                </div>
            </div>
        </div>

        <div class="overflow-hidden">
            <div class="divider text-light mx-n2">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 60">
                    <path fill="currentColor" d="M0,0V60H1440V0A5771,5771,0,0,1,0,0Z" />
                </svg>
            </div>
        </div>
    </section>

    <div class="container mt-5">
    <div class="text-left">
        <p>Bienvenue sur le site internet&nbsp;<a href="https://ilouww.fr/">ilouww.fr</a>.</p>

        <p>Notre politique de protection des données personnelles vous informe sur la façon dont notre société, Ilouww, traite vos données personnelles.</p>

        <p>En vous connectant ou en consultant le site internet, vous reconnaissez avoir lu, compris et accepté, sans limitation ni réserve, la présente politique de protection des données personnelles.</p>

        <h3>Qui sommes-nous&nbsp;?</h3>

        <p>L'adresse de notre site Web est&nbsp;: https://ilouww.fr/</p>

        <h3>Utilisation des données personnelles collectées</h3>

        <p>La société Ilouww, responsable des traitements des données personnelles opérées sur son site, recueille des informations vous concernant lors de&nbsp;:</p>

        <ul>
            <li>L'envoi d'un e-mail ou un contact avec nos services</li>
            <li>L'envoi d'un formulaire en ligne sur notre Site</li>
        </ul>

        <p>Ilouww est également susceptible d'être destinataire de données qui ont été collectées auprès de vous par un tiers.</p>

        <h4>Médias</h4>

        <p>Si vous êtes un utilisateur ou une utilisatrice enregistré et que vous téléversez des images sur le site web, nous vous conseillons d'éviter de téléverser des images contenant des données EXIF de coordonnées GPS. Les visiteurs de votre site web peuvent télécharger et extraire des données de localisation depuis ces images.</p>

        <h4>Formulaires de contact</h4>

        <h4>Cookies</h4>

        <p>Si vous déposez un commentaire sur notre site, il vous sera proposé d'enregistrer votre nom, adresse de messagerie et site web dans des cookies. C'est uniquement pour votre confort afin de ne pas avoir à saisir ces informations si vous déposez un autre commentaire plus tard. Ces cookies expirent au bout d'un an.</p>

        <p>Si vous avez un compte et que vous vous connectez sur ce site, un cookie temporaire sera créé afin de déterminer si votre navigateur accepte les cookies. Il ne contient pas de données personnelles et sera supprimé automatiquement à la fermeture de votre navigateur.</p>

        <p>Lorsque vous vous connecterez, nous mettrons en place un certain nombre de cookies pour enregistrer vos informations de connexion et vos préférences d'écran. La durée de vie d'un cookie de connexion est de deux jours, celle d'un cookie d'option d'écran est d'un an. Si vous cochez «&nbsp;Se souvenir de moi&nbsp;», votre cookie de connexion sera conservé pendant deux semaines. Si vous vous déconnectez de votre compte, le cookie de connexion sera effacé.</p>

        <p>En modifiant ou en publiant une publication, un cookie supplémentaire sera enregistré dans votre navigateur. Ce cookie ne comprend aucune donnée personnelle. Il indique simplement l'ID de la publication que vous venez de modifier. Il expire au bout d'un jour.</p>

        <h4>Contenu embarqué depuis d'autres sites</h4>

        <p>Les articles de ce site peuvent inclure des contenus intégrés (par exemple des vidéos, images, articles). Le contenu intégré depuis d'autres sites se comporte de la même manière que si le visiteur se rendait sur cet autre site.</p>

        <p>Ces sites web pourraient collecter des données sur vous, utiliser des cookies, embarquer des outils de suivis tiers, suivre vos interactions avec ces contenus embarqués si vous disposez d'un compte connecté sur leur site web.</p>

        <h4>Statistiques et mesures d'audience</h4>

        <h3>Utilisation et transmission de vos données personnelles</h3>

        <h3>Durées de stockage de vos données</h3>

        <p>Si vous laissez un commentaire, le commentaire et ses métadonnées sont conservés indéfiniment. Cela permet de reconnaître et approuver automatiquement les commentaires suivants au lieu de les laisser dans la file de modération.</p>

        <p>Pour les utilisateurs qui s'enregistrent sur notre site (si cela est possible), nous stockons également les données personnelles indiquées dans leur profil. Tous les utilisateurs peuvent voir, modifier ou supprimer leurs informations personnelles à tout moment (à l'exception de leur nom d'utilisateur). Les gestionnaires du site peuvent aussi voir et modifier ces informations.</p>

        <h3>Les droits que vous avez sur vos données</h3>

        <p>Si vous avez un compte ou si vous avez laissé des commentaires sur le site, vous pouvez demander à recevoir un fichier contenant toutes les données personnelles que nous possédons à votre sujet, incluant celles que vous nous avez fournies. Vous pouvez également demander la suppression des données personnelles vous concernant. Cela ne prend pas en compte les données stockées à des fins administratives, légales ou pour des raisons de sécurité.</p>

        <h3>Transmission de vos données personnelles</h3>

        <p>Les commentaires des visiteurs peuvent être vérifiés à l'aide d'un service automatisé de détection des commentaires indésirables.</p>

        <h3>Informations de contact</h3>

        <p>Vous pouvez nous écrire à l'adresse suivante :<br>Ou par mail à : ilouw.design@gmail.com<br>Ou nous appeler au +33 6 09 63 18 38</p>

        <h3>Informations supplémentaires</h3>

        <h4>Comment nous protégeons vos données</h4>

        <h4>Procédures mises en œuvre en cas de fuite de données</h4>

        <h4>Les services tiers qui nous transmettent des données</h4>

        <h4>Opérations de marketing automatisé et/ou de profilage réalisées à l'aide des données personnelles</h4>

        <h4>Affichage des informations liées aux secteurs soumis à des régulations spécifiques</h4>
        <p></p>
    </div>
</div>

{% endblock %}