{% extends 'base.html.twig' %}

{% block body %}

    <section class="wrapper image-wrapper bg-image bg-overlay bg-overlay-300" data-image-src="/assets/img/photos/bg16.png">
        <div class="container pt-17 text-center">
            <div class="row">
                <div class="col-lg-8 col-xl-7 col-xxl-6 mx-auto" data-cues="slideInDown" data-group="page-title">
                    <h1 class="display-1 text-white fs-55 mb-4 px-md-15 px-lg-0">Web</h1>
                </div>
            </div>
        </div>

        <div class="overflow-hidden">
            <div class="divider text-light mx-n2">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 60">
                    <path fill="currentColor" d="M0,0V60H1440V0A5771,5771,0,0,1,0,0Z" />
                </svg>
            </div>
        </div>
    </section>

    <section class="wrapper bg-light">
        <div class="container pt-14 pt-md-16">
            <div class="row gx-lg-8 gx-xl-12 gy-10 mb-lg-22 mb-xl-24 align-items-center">
                <div class="col-lg-7 order-lg-2">
                    <div class="row gx-md-5 gy-5">
                        <div class="col-md-5 offset-md-1 align-self-end">
                            <div class="card bg-pale-yellow">
                                <div class="card-body">
                                    <img src="/assets/img/icons/lineal/telephone-3.svg" class="svg-inject icon-svg icon-svg-md text-yellow mb-3" alt="" />
                                    <h4>Réalisation de sites web</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 align-self-end">
                            <div class="card bg-pale-red">
                                <div class="card-body">
                                    <img src="/assets/img/icons/lineal/shield.svg" class="svg-inject icon-svg icon-svg-md text-red mb-3" alt="" />
                                    <h4>Analyse de la stratégie et des performances</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="card bg-pale-leaf">
                                <div class="card-body">
                                    <img src="/assets/img/icons/lineal/cloud-computing-3.svg" class="svg-inject icon-svg icon-svg-md text-leaf mb-3" alt="" />
                                    <h4>Veille environnementale</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 align-self-start">
                            <div class="card bg-pale-primary">
                                <div class="card-body">
                                    <img src="/assets/img/icons/lineal/analytics.svg" class="svg-inject icon-svg icon-svg-md text-primary mb-3" alt="" />
                                    <h4>Accompagnement sur mesure en fonction des objectifs</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <h2 class="fs-15 text-uppercase text-muted mb-3">Web</h2>
                    <h3 class="display-4 mb-5">Sites web vitrine & e-commerce</h3>
                    <p>Boostez votre présence en ligne avec notre prestation d’audit de site internet et branding. Nous examinons votre site web et votre image de marque pour déterminer les points forts et les opportunités d’amélioration. Nous vous fournissons des recommandations concrètes pour renforcer votre stratégie de marque et atteindre vos objectifs en ligne. Contactez-nous pour un audit sur mesure et une image de marque plus puissante.</p>
                    <a href="/contact" class="btn btn-navy rounded-pill mt-3">Nous contacter</a>
                </div>
            </div>
        </div>
    </section>

{% endblock %}